/* Energy matters CSS style sheet testicle 
#206A5D dark
#81B214 med
#BFDCAE med light
#F1F1E8 off white
*/


body {
	margin: 0;
	font-size: 21px;
	background: black;
	font-family: 'Playfair Display', serif;
}

header {
    background-color: #206A5D;
    color: #F1F1E8;
    padding: 1px 5px;
    text-align: center;
}

/*main {
	border: 1px solid #99153D;
	background-image: url("images/Astro/gcsp_2019.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}*/

h1 {
	font-size: 52px;
	margin: 15px;
    color: #F1F1E8;
    text-align: center;
    letter-spacing: 2px;
} 

h2 {
	font-size: 34px;
	text-align: center;
	color: #F1F1E8;
}

h3 {
	font-size: 32px;
	/*color: #04B404;*/
	color: #81B214;
	text-align: center;
	letter-spacing: 3px;
	margin: 40px 0px 8px 0px;
}

p {
	font-size: 21px;
	border: solid #206A5D 5px;	
	padding: 7px;
	text-align: center;
	color: #F1F1E8;
	margin: 0px 13px;

}

ul {
	margin:  0;
    padding: 0;
    list-style: none;
    text-align: center;	
}

li {
	color: #F1F1E8;	
}

img {
	margin: 0px;
	width: 100%; 
	height: auto;
}


/* NAV-BAR */

.nav {
	background-color: black;
	width: 100%;
	text-align: center;
	position: sticky;
}

.nav ul {
    margin:  0;
    padding: 0;
    list-style: none;
}

.nav li {
	display: inline-block;
	margin: 6px 20px;
	color: #F1F1E8;
}

.nav a {
	font-size: 32px;
	text-decoration: none;
	transition-duration: .4s;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: #81B214;
	/*font-size: 30px;*/
}

/*a:active {
	color: white;
}*/

/* NAV-BAR */



/*  HOME-PAGE  */

.projects {
    background-color: black;
    color: black;
    /*padding: 5px 0;*/
    text-align: center;
    padding: 10%;
}

.row {
    display: flex;   
}

.column {
	width: 25%;
	height: auto;
    margin: 5% 12%;
    border: solid #206A5D 5px;
    border-radius: 15px;
    /*padding: 5px;*/
    background-color: black;
    transition-duration: .6s;
    overflow: hidden;

}

.tile-container {
	display: inline-block;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.tile {
	width: 80%;
    height: 80%;
    transition-duration: 0.3s;

}

.tile .solar {
	background-image: url("images/Solar/Solar_thumbnail.jpeg");
}

.tile-container:hover .tile {
	transform: scale(0.6);
}

.tile-container:hover::before {
	display: block;
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    background-color: rgba(0,0,0,0.25);
    color: white;
    padding: 120px 30px;
    content:"I started building an off-grid solar battery system for protection from power outages. In the Arizona heat it is essential to have a refrigerator and air conditioner.";
    z-index: 1;
}

.projects p {
	border: none;
	/*margin: 10px;*/
}

.projects h3 {
	margin: 10px;
}

/*  HOME-PAGE  */

.astro-video {
	margin-left: 90px;
}

.astro-video-eclipse {
	width: 100%;
}

.solar-control {

}

#graph {

}

#app {
	
}

.solar-app {
	margin: 0 auto;
	width: 27%;
	height: auto;
	background-color: black;
}

.solar-app-return {
	font-size: 28px;
	height: 50px;
	width: 170px;
	margin: -65px 70px 20px 30px;
	/*background-color: red;*/
	color: transparent;
	position: relative;
	z-index: 10xs;
}



